<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>bnewsproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControllerPublicIndex</servlet-name>
    <servlet-class>controller.ControllerPublicIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicIndex</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControllerPublicIndexNew</servlet-name>
    <servlet-class>controller.ControllerPublicIndexNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicIndexNew</servlet-name>
    <url-pattern>/tin-tuc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControllerPublicDanhMuc</servlet-name>
    <servlet-class>controller.ControllerPublicDanhMuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicDanhMuc</servlet-name>
    <url-pattern>/danh-muc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControllerPublicChiTiet</servlet-name>
    <servlet-class>controller.ControllerPublicChiTiet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicChiTiet</servlet-name>
    <url-pattern>/chi-tiet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <servlet-class>controller.ControllerAdminIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexCat</servlet-name>
    <servlet-class>controller.ControllerAdminIndexCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexCat</servlet-name>
    <url-pattern>/admin/indexCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddCat</servlet-name>
    <servlet-class>controller.ControllerAdminAddCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddCat</servlet-name>
    <url-pattern>/admin/addCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteCat</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteCat</servlet-name>
    <url-pattern>/admin/deleteCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditCat</servlet-name>
    <servlet-class>controller.ControllerAdminEditCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditCat</servlet-name>
    <url-pattern>/admin/editCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexUser</servlet-name>
    <servlet-class>controller.ControllerAdminIndexUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexUser</servlet-name>
    <url-pattern>/admin/indexUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddUser</servlet-name>
    <servlet-class>controller.ControllerAdminAddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddUser</servlet-name>
    <url-pattern>/admin/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditUser</servlet-name>
    <servlet-class>controller.ControllerAdminEditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditUser</servlet-name>
    <url-pattern>/admin/editUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteUser</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteUser</servlet-name>
    <url-pattern>/admin/deleteUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControllerAdminIndexNew</servlet-name>
    <servlet-class>controller.ControllerAdminIndexNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexNew</servlet-name>
    <url-pattern>/admin/indexNew</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControllerAdminAddNew</servlet-name>
    <servlet-class>controller.ControllerAdminAddNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddNew</servlet-name>
    <url-pattern>/admin/addNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteNew</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteNew</servlet-name>
    <url-pattern>/admin/deleteNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditNew</servlet-name>
    <servlet-class>controller.ControllerAdminEditNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditNew</servlet-name>
    <url-pattern>/admin/editNew</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControllerAdminLogin</servlet-name>
    <servlet-class>controller.ControllerAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminLogin</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControllerAdminLogout</servlet-name>
    <servlet-class>controller.ControllerAdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminLogout</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
</web-app>